@charset "utf-8";

html {
  font-size: 100%;
}
body {
  color: #333;
  font-size: 0.75rem;
  font-family: 'Raleway', sans-serif;
}
img {
  max-width: 100%;
}
a {
  color: #333;
  text-decoration: none;
}
list {
  list-style: none;
}
table {
  
}

/*-------------------------------------------
Header
-------------------------------------------*/



/*-------------------------------------------
Mainvisual
-------------------------------------------*/




/*-------------------------------------------
Index
-------------------------------------------*/




/*-------------------------------------------
Image
-------------------------------------------*/




/*-------------------------------------------
Detail
-------------------------------------------*/




/*-------------------------------------------
Footer
-------------------------------------------*/


/*-------------------------------------------
SP
-------------------------------------------*/
@media screen and (max-width: px) {

}

